.hs_show-img-wrap{height: 122px;width: 188px;border-radius:12px;}
.hs_show-img-wrap.hs_paper_img1{background: url('../../../components/hsReact/Resource/images/default_papers1.png') no-repeat;}
.hs_show-img-wrap.hs_paper_img2{background: url('../../../components/hsReact/Resource/images/default_papers2.png') no-repeat;}
.hs_show-img-wrap.hs_paper_img3{background: url('../../../components/hsReact/Resource/images/default_papers3.png') no-repeat;}
.hs_show-img-wrap.hs_paper_img4{background: url('../../../components/hsReact/Resource/images/default_papers4.png') no-repeat;}
.hs_show-img-wrap.hs_paper_img5{background: #F4F5F9;}
.hs_show>span{display: block;margin: 22px 0 35px 0;text-align: center;}
.hs_show>button{display: block;margin: 0 auto;}
.left_10{margin-left: 10px;}

.ant-modal{
    width: 60% !important;
}

.show_picture_image_wrap{position:fixed;z-index:1000;top:50%;transform: translateY(-50%);}
.show_picture_image{cursor: all-scroll;width: auto;height: auto;}
.show_picture_operationBtn{position: fixed;left: 0;right: 0;bottom: 0;width: 210px;margin-left:auto;margin-right:auto;padding:10px;text-align:center;background-color: #fff;}
.show_picture_operationBtn i{font-size: 25px;cursor: pointer;padding: 6px;}
